 
 body,html{
	margin:0;
	box-sizing: content-box;
	font-family: 'Nunito', sans-serif;
 }
 .main{
	/* position: absolute; */
	width: 100%;
	top: 0;
	margin-bottom:30em !important;
	margin:0px;
	border-bottom: 0.9px solid rgba(128, 128, 128, 0.116);
	background-color: rgb(108, 161, 222);
 }
 .header-main {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 5px 20px ;
 }
 .h-head{
	color:rgb(228, 228, 228)
 }
 .cart{
	position:relative; 
	display: flex;
	justify-content: flex-end;
	top:8px
 }
 .amount{
	background-color: aliceblue;
	position: absolute;
	bottom:-4px;
	font-size: 14px;
	left:13px; 
	display:flex;
	justify-content: center;
	border-radius: 20px;
   padding:5px;
 }
  